* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9f0f5;
}

li {
  list-style: none;
}

.upperTitle {
  background-color: #303e49;
  height: 300px;
  color: white;
  text-align: center;
  h3 {
    line-height: 300px;
    font-size: 1.5em;
  }
}
.outer {
  width: 80%;
  margin: auto;
}
.container {
  padding: 40px;
  .timeline {
    padding-left: 20px;
    .timelineItem {
      padding-bottom: 20px;
      position: relative;
      .contentBox {
        width: 40%;
        padding: 15px;
        background-color: white;
        border-radius: 10px;
        position: relative;
        .title {
          line-height: 1.5;
        }
        .desc {
          margin: 20px 5px 30px;
        }
        .more {
          padding: 8px 12px;
          background-color: #acb7c0;
          color: white;
          border-radius: 3px;
          text-decoration: none;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 30px;
          right: -20px;
          border: 10px solid white;
          border-top-color: #e9f0f5;
          border-right-color: #e9f0f5;
          border-bottom-color: #e9f0f5;
        }
      }

      .iconBox {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -38px;
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 50%;
        border: 8px solid white;
        background-color: #75ce66;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .iconBox.location {
        background-color: #f0ca45;
      }
      .iconBox.movie {
        background-color: #c03b44;
      }
      .line {
        position: absolute;
        top: 0;
        width: 4px;
        margin-left: -2px;
        background-color: #d7e4ed;
        left: 50%;
        height: 100%;
        z-index: -1;
      }
    }
    .timelineItem:nth-child(even) {
      &::after {
        content: "";
        display: block;
        clear: both;
      }
      .contentBox {
        float: right;
        &::after {
          content: "";
          display: block;
          right: 100%;
          border-left-color: #e9f0f5;
          border-right-color: white;
        }
      }
    }
    .timelineItem.last {
      .line {
        display: none;
      }
    }
    .timelineItem.none {
      visibility: hidden;
    }
  }
}
